.navbar{
  background-color: #750177;
  font-family: var(--font-principal);
  font-size: large;
}

.navbar-toggler{
  background-color: #fcf8da;
}

.btn-outline-light{
  --bs-btn-color: #fcf8da;
  --bs-btn-border-color:#fcf8da;
  --bs-btn-hover-bg: #FF9733;
}

.btn-light{
  background-color: #FF9733;
  --bs-btn-color: #750177
  --bs-btn-border-color:#fcf8da;
  --bs-btn-hover-bg: #E6C3E8;
}

.nav-link{
  color: #fcf8da;
  --bs-nav-link-hover-color:#FF9733;
}

.nav-item{
  margin: 10px;
}