/* importe das fontes */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* importação dos componentes */
@import './header.css';
@import './home.css';
@import './footer.css';
@import "./refri.css";
@import "./contato.css";
@import "./assine.css";




:root{
  --font-principal: 'Lato', sans-serif;
  --roxo-escuro: #750177;
  --roxo-claro: #E6C3E8;
  --laranja:#FF9733;
  --preto: #000000;
  --azul-linkedin:#0a66c2;

}

body{
  background-color:  #E6C3E8;
}

*{
  font-family:var(--font-principal) ;
}